[2020-04-14 01:03] ksbeattie opened #16 "Problems with MatOpt examples"
There are problems with the generated notebook examples for MatOpt in the 1.5.0 release on RTD: https://examples-pse.readthedocs.io/en/1.5.0

- [ ] "Monometallic Nanocluster Design", "Surface Design" and "Bifunctional Catalyst Design" solutions all show:
[code]

- [ ] Both "Bimetallic Nanocluster Design" and "Metal Oxide Bulk Design" have:
[code]

[2020-09-21 21:41] jghouse88 opened #10 "Rework examples/src structure"
Propose changing existing src structure for the following reasons:

- @dangunter and I have been a bit confused with the current set up of the src folder especially when working on IDAES/examples-dev#108  as to what constitutes as "workshop" and what constitutes as "tutorial".
- It is difficult for a new user to identify where to start: Tutorials or workshops.
- What is the recommended progression

[2020-10-09 17:24] lbianchi-lbl opened #15 "Errors when building notebooks for 1.7.0 (seems fixed on second build, could not reproduce)"
While building the examples for the 1.7.0 release yesterday with @ksbeattie, the `python build.py -cdr` step resulted in the errors reported below from `notebook-errors.txt`. When I tried to run the build a second time with the exact same version of the code, the build completed without errors, and we haven't been able to reproduce the errors.

Even though the issue seems to have been resolved by

[2020-11-09 20:05] dangunter opened #3 "Rework examples/src structure"
## Originally created by @jghouse88 9/21/2020
----
Propose changing existing src structure for the following reasons:

- @dangunter and I have been a bit confused with the current set up of the src folder especially when working on #108  as to what constitutes as "workshop" and what constitutes as "tutorial".
- It is difficult for a new user to identify where to start: Tutorials or workshops.
- Wh

[2020-11-18 15:23] dangunter opened #7 "Add contact info and other boilerplate to Jupyter notebooks"
Add contact information and copyright boilerplate to generated notebooks. This should also be used to insert the boilerplate into downloaded notebooks (idaes-pse command `idaes get-examples`), so a self-contained function that takes a notebook object and modifies it would be ideal.

Here is the text on the main documentation page:
[code]

[2020-11-19 19:49] ksbeattie commented on #7
Might we want to ask that enquirers be sent to idaes-users as well?

[2020-11-19 20:35] #3 closed

[2020-11-20 04:41] dangunter opened #11 "Document how to create and use "test cells" in Jupyter notebooks"
Document how to create and use "test cells" in Jupyter notebooks, and include a link/description of the script (build.py) that can strip them out as it generates the example notebooks.

[2020-11-20 15:26] lbianchi-lbl opened #12 "build.py errors for Python 3.6 on Windows"
This error came up by running the tests from this repo as part of the IDAES/idaes-pse integration tests. Here's the error log:

[code]

. It seems to be limited to the specific combination Python 3.6 and Windows, and wasn't caught by the tests here in examples-pse because the CI is not running on the full Python version and OS test matrix just yet (which will be rectified ASAP).

I think the fix s

[2020-11-20 16:32] dangunter opened #14 "Review and reduce fixed version dependencies for developer tools in setup.py"

[2020-11-23 23:22] dangunter commented on #10
Implemented in PR #4

[2020-11-23 23:22] #10 closed

[2020-11-25 23:55] #12 closed

[2020-12-23 22:58] ksbeattie opened #19 "Problems with 1.8.0rc0 build of examples-pse"
Attached are the errors files from running `python build.py -cdr`

[notebook-errors.txt](https://github.com/IDAES/examples-pse/files/5737495/notebook-errors.txt)
[sphinx-errors.txt](https://github.com/IDAES/examples-pse/files/5737496/sphinx-errors.txt)

[2021-01-05 19:06] dangunter opened #20 "Read the docs examples site should be taken down"
To avoid confusion, the legacy RTD site at https://examples-pse.readthedocs.io/en/stable/ should be taken down, or serve only to redirect to the new maintained site at https://idaes.github.io/examples-pse/latest/

[2021-01-14 01:26] lbianchi-lbl opened #23 "Build error with examples-pse 1.8.0 in file Tutorials/Advanced/ParamEst/DMF_flash_unit_Model_with_NRTL_solution.ipynb"
[code]

[2021-01-14 01:28] lbianchi-lbl opened #24 "Build error with examples-pse 1.8.0 in file Tutorials/Advanced/ParamEst/DMF_for_parameter_estimation_NRTL_using_unit_model_solution_testing.ipynb"
[code]

[2021-01-14 01:30] lbianchi-lbl opened #25 "Build error with examples-pse 1.8.0 in file Examples/SurrMod/ALAMO/ALAMO_six_hump_camel.ipynb"
**UPDATE**: as in previous occurrences, this error did not occur again when running the build a second time using identical source files and environment.

[code]

[2021-01-14 03:12] lbianchi-lbl opened #26 "Text rendered as math (LaTeX) when it probably shouldn't"
See e.g. this example from https://idaes.github.io/examples-pse/1.8.0/Tutorials/Advanced/ParamEst/parameter_estimation_NRTL_using_state_block_solution_doc.html

![image](https://user-images.githubusercontent.com/48035537/104539687-e3e71f00-55d2-11eb-8cb2-10148ff08842.png)

[2021-01-14 19:28] ksbeattie commented on #23
Need to look at why this is not caught by our integration tests.

[2021-01-14 19:29] ksbeattie commented on #24
Why doesn't out integration tests find this?

[2021-01-14 19:34] lbianchi-lbl commented on #25
I received some test notebooks from @mengleCMU to investigate this issue.

[2021-01-14 19:43] lbianchi-lbl commented on #26
It appears that this might be to some degree browser-dependent: this shows up when opening the page on my browser (Firefox for Ubuntu 84.0.2), but not in e.g. @ksbeattie's.

[2021-01-21 18:39] makaylas opened #29 "Add feed and product blocks to examples"
We need to encourage the users to use feed and product blocks so we should change the examples to use them.

[2021-02-16 15:10] dangunter opened #30 "Make DMF tests more robust to theta_est"
Specifically, be tolerant of changes in formatting of keys returned by ` parmest.Estimator.theta_est()`

[2021-02-16 19:25] #30 closed

[2021-02-19 22:28] #24 closed

[2021-02-25 18:44] lbianchi-lbl opened #34 "Build error with examples-pse 1.9.0rc0 in notebook Examples/Pecos/data_quality_control.ipynb"
Content of the cell where the error occurs:

[code]

Error traceback:

[code]

[2021-02-25 18:48] lbianchi-lbl opened #35 "Build error with examples-pse 1.9.0rc0 in notebook Examples/SurrMod/ALAMO/ALAMO_six_hump_camel.ipynb"
Notebook cell where the error occurs:

[code]

Traceback:

[code]

[2021-02-25 18:56] lbianchi-lbl commented on #23
This was fixed in #32.

[2021-02-25 18:56] #23 closed

[2021-02-25 18:58] ksbeattie commented on #19
Fixed #32

[2021-02-25 18:58] #19 closed

[2021-02-25 20:45] mengleCMU commented on #35
PR in response to thise issue: https://github.com/IDAES/examples-pse/pull/36

[2021-03-04 01:20] ksbeattie commented on #34
I looks like this is an issue with the packaging of pecos itself, in that it doesn't include the `logo.png` file, nor the `documentation/figures/` dir.

[2021-03-04 02:51] lbianchi-lbl commented on #34
As a temporary way to address this, installing pecos in editable mode from the GitHub repository seems to work: `git clone https://github.com/sandialabs/pecos && cd pecos/ && pip install --editable .`.

[2021-03-04 19:41] #35 closed

[2021-03-04 19:43] mengleCMU commented on #25
Readdressed in Issue #35 and solved with  a catch on a solver error with PR #36

[2021-03-04 19:43] #25 closed

[2021-03-04 19:47] ksbeattie commented on #16
I believe this is fixed now.

[2021-03-04 19:47] #16 closed

[2021-03-05 17:48] kaklise commented on #34
I just pushed an update to Pecos that resolves this issue.  You should be able to clone/pull from https://github.com/sandialabs/pecos, but I'll also create a new release on PyPI.

[2021-03-11 19:45] lbianchi-lbl commented on #15
Error # 2 is the same as the one reported in #25. As of 1.9.0, this still occurs occasionally when building the examples with the related solver available, but after some investigation we haven't been able to reproduce it.

I'll go ahead and close this for the time being since it is focused on a specific release, and open a new issue when/if this occurs in the future.

[2021-03-11 19:45] #15 closed

[2021-03-11 19:54] ksbeattie commented on #29
Perhaps we should call out examples that need a feeder or product block added, making separate issues for them would help?

[2021-03-11 19:59] lbianchi-lbl commented on #26
This is due to backtick characters ("`") being a control character in AsciiMath (http://docs.mathjax.org/en/latest/input/asciimath.html#asciimath-support), used in Sphinx docs to represent rich math symbols and formulas. Here the backticks are used instead represent code/monospace text, i.e. the way they are used in Markdown, so my guess is that this is a conflict between which renderer (Jupyter a

[2021-03-11 20:33] ksbeattie commented on #20
I've removed the RTD examples-pse site/project entirely from RTDs.  I've searched all of the examples-pse repo for mention of the `examples-pse.readthedocs` and not found anything.  Hopefully this won't leave any broken links out there.

[2021-03-11 20:33] #20 closed

[2021-03-18 01:55] #34 closed

[2021-04-14 17:54] lbianchi-lbl opened #41 "Notebook build fails with "Failed due to error: 'ParallelNotebookWorker' object has no attribute 's'" on timeout"
I believe this is caused when catching the `TimeoutException` [here](https://github.com/IDAES/examples-pse/blob/722dd5037ca0c8087e03141cbc552edd75d1fd0b/build.py#L975-L977): trying to access `self.s` results in an `AttributeError` since `ParallelNotebookWorker` does not set this attribute, ~possibly because it doesn't inherit from the `Builder` base class~ **EDIT** (`ParallelNotebookWorker` is use

[2021-05-28 14:55] #41 closed

[2021-06-03 19:46] andrewlee94 opened #48 "Better logging of issues when building example notebooks"
It would be helpful for debugging purposes if we could collect the traceback when a notebook fails during the build process and present it to the developer/reviewers in a convenient form. At the moment, the actual error traceback is buried in with the debugging output from the build process. It is not immediately obvious where to look for it, and it can take a lot of scrolling to find the actual o

[2021-06-08 05:24] jghouse88 opened #49 "Fix broken links in top-level notebook_index.ipynb"
Noticed that almost all links to tutorials and examples seem to be broken in our `notebook_index.ipynb`. The following work:
- `data_management_framework`
- `Pysmo_basics`
- `ALAMO_six_hump`
- `air_separation_case_study`

[2021-06-10 00:25] ksbeattie commented on #49
I remember doing something like this before way back in https://github.com/IDAES/examples-dev/pull/138

[2021-06-10 18:28] dangunter commented on #49
This is expected behavior, but we will re-examine the need for file renaming to try & make it easier to use notebooks either pre or post build.

[2021-07-15 18:58] dangunter opened #51 "re-examine the need for file renaming to try & make it easier to use notebooks either pre or post build"

[2021-07-15 18:58] dangunter commented on #49
Moved this to #51

[2021-07-15 18:58] #49 closed

[2021-07-28 16:46] xiangyuy opened #53 "MatOpt example jupyter notebooks' output error"
Hi, we have noticed that there are errors in the outputs of MatOpt example notebooks. For example, in the output below In[11] in https://idaes.github.io/examples-pse/latest/Examples/MatOpt/monometallic_nanocluster_design_doc.html, it says that the size of the model exceeds the community version's CPLEX' limitation. However, in the source file https://github.com/IDAES/examples-pse/blob/main/src/Exa

[2021-07-28 18:23] ksbeattie commented on #53
We do re-run all the notebooks when we cut a release.  We do this because not all notebooks are checked-in with results in them and to ensure things are working correctly, which clearly we are missing in this case.

One thing I noticed in just visually comparing the two notebooks pointed to in the issue is that they look like different problem sizes.  I'm not that familiar with CPLEX but the publi

[2021-07-28 18:37] lbianchi-lbl commented on #53
I looked into the history of the notebook and I found a commit which seems to be related to the increase in problem size (as reported by the `Variables: ` line in the CPLEX output: https://github.com/IDAES/examples-pse/commit/e5e27bb80eb127a8973b9d27d2fc60d21bb54995#diff-b36be862be9825ffc2a9975f11846b599a5aca48fb991afce84ef3041af515df

[2021-07-29 00:07] lbianchi-lbl commented on #53
@xiangyuy: @ksbeattie and I are working on a way to address this issue. As you correctly assumed, the HTML version of the examples documentation (i.e. the one that's accessible at `https://idaes.github.io/examples-pse`) is generated each time a release of `examples-pse` is cut, by (simplifying) running each notebook using `nbconvert` and then converting the re-run notebook to an HTML page using Sp

[2021-07-29 14:32] xiangyuy commented on #53
Thank you for your instructions. I followed them and got the error ```Failed due to error: Pandoc wasn't found```. I then installed ```pandoc``` with ```pip``` in my environment but still got the same error. What do you suggest to resolve this? Thank you.

[2021-07-29 15:19] lbianchi-lbl commented on #53
@xiangyuy Sorry about that, I forgot to include that step. I believe the `pandoc` package you installed with `pip install` is not the full pandoc executable needed for this build, which instead should be installed on your system using one of the steps described here: https://pandoc.org/installing.html.

I've updated the instructions in #54 accordingly, let me know if that works.

[2021-07-29 20:11] xiangyuy commented on #53
Thanks, it works, and we have generated the correct HTML files. Note that we have updated our CPLEX installations on our computers, so we were not using the same version of CPLEX as before. But those HTML files should serve well as a temporary solution.

[2021-08-02 18:03] lbianchi-lbl opened #56 "Failures for CI jobs on Windows with Python 3.8 due to error: DLL load failed while importing win32api: The specified module could not be found."
## The error

- First seen in #27 but most likely not depending on individual PRs' changes
- For the combination Windows + Python 3.8 all notebooks fail with the same error, e.g. https://github.com/IDAES/examples-pse/pull/27/checks?check_run_id=3223372652#step:8:265

## Possible causes

- The DLL issue with Python 3.8 on Windows is known, see e.g. IDAES/idaes-pse#258
- However, the usual workaroun

[2021-08-12 18:42] #56 closed

[2021-08-12 18:50] lbianchi-lbl commented on #53
This particular issue was addressed by #55 and is now solved. When cutting the August release, we should make sure this issue doesn't occur again.

[2021-08-12 18:50] #53 closed

[2021-08-26 03:26] lbianchi-lbl opened #59 "Build error for notebook Examples/Flowsheets/HDA_flowsheet_with_distillation_solution_testing.ipynb"
The following error occurred when building the full set of examples in preparation for the 1.11.0rc0 release:

[code]

The likely cause for this is the `sys.path.insert(0, '../../')` used to import packages into the notebook. Manipulating `sys.path` in this fashion should be avoided in general, and in particular when used for IDAES examples notebooks since it's almost guaranteed not to work.

[2021-08-26 18:08] adowling2 opened #60 "Add Degeneracy Hunter example to readthedocs"
@lbianchi-lbl How do I add the Degeneracy Hunter example to this page?

https://idaes.github.io/examples-pse/latest/

[2021-08-30 21:05] lbianchi-lbl commented on #59
@radhakrishnatg apologies for not addressing your question, I must have missed the notification and I've seen your reply only now.

As you point out, the best practice is generally to avoid duplication to reduce the chances that the copies will drift out of sync with successive modifications. However, avoiding duplication generally requires additional complexity to enable it, and there are cases w

[2021-08-30 21:05] #59 closed

[2021-08-31 22:53] radhakrishnatg commented on #59
@lbianchi-lbl Thank you so much! I will keep this in mind the next time.

[2021-09-01 23:37] #60 closed, assigned to lbianchi-lbl

[2021-11-10 20:28] blnicho opened #72 "Broken links in tutorial notebooks"
There are broken links in our tutorial notebooks that point users to specific pages in our idaes-pse readthedocs documentation. We should fix the links and figure out a way to test if the links work to make it easier to detect this in the future. I'll update this issue with a list of all the broken links that need to be fixed.

[2021-11-10 20:33] blnicho opened #73 "Update tutorial notebooks to include units"
We should update our tutorials to use (and show off) units.

[2021-11-10 20:33] dangunter commented on #72
There is a tool that is part of Sphinx (our documentation system), the "linkcheck" builder. The command would be: `sphinx-build -b linkcheck <src-dir> <output-dir>` (though not sure what output dir is used for). I am looking into whether that works properly once you've converted the notebooks into RST files with `python build.py -c`

[2021-11-10 20:37] dangunter commented on #72
Update: linkcheck does seem to work. The steps are:

1) in top-level, build the docs and/or simply convert the notebooks with `python build.py -c`
2) cd to the `docs` subdirectory and run: ` sphinx-build -b linkcheck . .\_build\html`. This will list all broken links.

[2021-11-10 20:46] dangunter commented on #72
Update 2: a better way to run is
[code]
then the output will be in `lc/output.json` and `lc/output.txt`

[2021-11-10 20:47] blnicho commented on #72
Related to: https://github.com/IDAES/idaes-pse/issues/389

[2021-11-30 22:39] #72 closed

[2021-12-01 00:45] lbianchi-lbl opened #77 "Solver error on CentOS 8 in Examples/Advanced/CustomProperties/air_separation_case_study.ipynb: ValueError: Cannot load a SolverResults object with bad status"
[code]

[2021-12-01 14:01] andrewlee94 commented on #77
@lbianchi-lbl Do we know what change/commit caused this to start failing? Solver failures can be really difficult to debug, so it would help if we knew what change had triggered this. Also, did we detect this as soon as it occurred, or does this indicate that there is a gap in our CI testing?

[2021-12-01 16:42] andrewlee94 commented on #77
@lbianchi-lbl So this problem doesn't appear to be a solver availability issue - the solver was called but failed. It might be due to the linear sub-solver that was available, but I would have expected this to use the IDAES IPOPT so I would have expected the same result.

[2021-12-02 03:05] lbianchi-lbl commented on #77
@andrewlee94 I tried running the notebook manually (i.e. start a Jupyter server with `jupyter notebook` and then opening the `Examples/Advanced/CustomProperties/air_separation_case_study` notebook) in the same environment:

- Running the notebook from scratch results in the same error
- After splitting the cell where the error occurs (the second in section 7.6, should be 35) in multiple cell with

[2021-12-02 17:31] agarciadiego commented on #77
@andrewlee94 Yes I'll give it a look.

[2021-12-02 19:07] #48 closed

[2021-12-06 17:12] dangunter opened #78 "Local failures in test_vle"
Running on Windows, on a clean install of requirements-dev ,

``` pytest -m component idaes\generic_models\properties\core\generic\tests\```

I am seeing some errors in the test_vle module:
[code]

[2021-12-06 17:13] dangunter commented on #78
in case it helps,
[code]

and

[code]

[2021-12-06 17:16] dangunter commented on #78
UPDATE: This works fine if unit *and* component tests are run together

[2021-12-09 19:23] ksbeattie commented on #77
Any news?  We are planning on cutting the final "November" release early next week.

[2021-12-10 14:52] #78 closed

[2021-12-10 16:13] agarciadiego commented on #77
@ksbeattie I've ran the notebook a couple of times and I can't seem to reproduce the error

[2021-12-16 19:38] ksbeattie commented on #77
@agarciadiego, perhaps we can get the 3 of us together to try and get to the bottom of what is happening here.  That being that it works for you, but doesn't for us on our build system.

[2021-12-20 16:22] lbianchi-lbl opened #81 "Timeout errors for Examples/Advanced/CustomProperties/Hydrocarbon_Processing_example.ipynb"
The maximum runtime allowed for a single notebook is limited to the value of the `timeout` parameter in `build.yml`, which is currently set to 600 s for our CI builds. If a notebook takes longer than that to run, it results in an error.

[code]

Lately, this seems to be happening often for the `Examples/Advanced/CustomProperties/Hydrocarbon_Processing_example.ipynb` notebook, resulting in failing

[2021-12-20 16:35] adowling2 commented on #81
@lbianchi-lbl Is there any easy way to look at the notebook output (from CI) once it finished running? Did it finish in 644.05 seconds, or is that when CI decided to kill it?

@agarciadiego is this your notebook?

[2021-12-20 16:43] agarciadiego commented on #77
@ksbeattie sure sounds like a good idea

[2021-12-20 20:23] lbianchi-lbl commented on #81
@adowling2 These are both excellent questions. I can create a PR on this repo disabling the timeout (i.e. setting it to a very high value) and configuring the CI workflow so that the HTML docs are saved after the build (which is something we wanted to have anyways).

I'm currently testing the examples on our build system for the release and I'm also running into the same issue with a timeout, even

[2021-12-20 20:38] adowling2 commented on #81
@agarciadiego @bpaul4 @lbianchi-lbl I am curious about looking at the solver output captured in the notebooks and comparing that to when run locally. This would let us look at the number of Ipopt iterations across platforms.

[2021-12-20 21:11] bpaul4 commented on #81
After some testing, I found that running the standard examples tests (`python build.py -t` after building the index) does not throw an error with the most recent commit, and running the line from the GitHub Actions check `pytest --verbose -m 'not unit' tests/` results in a similar timeout error (various times around 650 seconds). When running locally, the notebook solved in 85 iterations initially

[2021-12-20 21:45] adowling2 commented on #81
This is wild speculation, but could `pytest --verbose -m 'not unit' tests/` be accessing the vanilla (pip installed) version of Ipopt, whereas the other approach using the version of Ipopt from idaes extensions?

[2021-12-20 23:51] lbianchi-lbl commented on #81
I'm running the notebook manually on our build system and, after at least 20 minutes, it's still at the "3.3 Run Simulation" (cell 10). This is the (partial) output until now:

[code]

- To my inexpert eyes, it looks like there's a lot more iterations (with the `r` suffix) in my run, whereas the version in the repo has 17 iterations (without the `r` suffix)
- Also, I noticed that the Ipopt version

[2021-12-20 23:58] lbianchi-lbl commented on #81
@bpaul4 @agarciadiego Since as I understand you have an environment where this notebook runs in a reasonable time, could you try running `idaes environment-info` in that environment and post here the output?

[2021-12-21 02:48] adowling2 commented on #81
@lbianchi-lbl Yes, 'r' means Ipopt is struggling. It stands for restoration phase, which is essential "last hope" mode until Ipopt gives up.

Yes, the difference in Ipopt version would explain it. Next step is to look up what changed in the Ipopt version. What Ipopt version is included in IDAES get extensions?

[2021-12-21 13:36] lbianchi-lbl commented on #81
@adowling2, thanks for the clarification. According to the `Solvers` section of the output of `idaes environment-info`, the Ipopt version currently being installed is 3.13.2 (which matches what one sees in the notebook's relevant output cells, when running from a fresh installation):

[code]

Maybe @eslickj will have more information on when the ipopt version was updated in `idaes-ext`?

[2021-12-21 14:22] bpaul4 commented on #81
Here is the IPOPT output for the initial solve (post-initialization). I scaled some variables as follows to get the `build.py -t` to pass without a timeout error:

# Set scaling for model components
def set_scaling_factors(m):
    for unit in ['H101', 'R101', 'H102', 'F101']:
        if unit == 'F101':
            stream_list = ['inlet', 'vap_outlet', 'liq_outlet']
        else:
            stream

[2021-12-21 15:53] bpaul4 commented on #81
Looking at a much older version, it appears that the number of variables has jumped significantly - 551 and 550-700 CPU seconds now compared to 346 variables and 50 CPU seconds in this version which only took 7 iterations to solve with no restoration: https://github.com/agarciadiego/examples-pse/blob/internship/src/Examples/Advanced/CustomProperties/Hydrocarbon_Processing_example.ipynb

[2021-12-21 16:44] bpaul4 commented on #81
@agarciadiego and I investigated the issue, and the notebook ran as expected on his machine: IPOPT 3.13.2, 346 variables, 7 iterations, ~ 40 total CPU seconds. I will test re-generating the initialization file, if the timeout still occurs then the issue is probably due to a recent code or dependency update from a commit in mid-December when the tests started failing.

[2021-12-21 19:32] lbianchi-lbl commented on #81
@bpaul4 Thanks for the update and the detailed analysis.

I haven't thought about the initialization file (I assume you're talking about the `HI_init.json.gz` being generated or read in Cell 9 of the notebook) but I agree with you that this is definitely something worth investigating.

@agarciadiego would it be possible to upload the initialization file that's being used in your 7-iterations runs?

[2021-12-21 21:04] bpaul4 commented on #81
Generating a new `HI_init.json.gz` and then restarting/running the notebook immensely improved the solver runtime, less than 90 CPU seconds. We should probably make a note to regenerate any initialization files or packages anytime we change solver versions to avoid future issues.

I have saved the old .gz file using IPOPT 3.12 and a new one using IPOPT 3.13 with the scaling I implemented above. Cu

[2021-12-21 21:30] lbianchi-lbl commented on #81
@bpaul4 thanks a lot for checking that. That looks like a step in the right direction (again, from my limited expertise on this topic).

I tried something similar in #82, namely deleting the `HI_init.json.gz` file, committing, and pushing, so that the notebook is run in the CI jobs without that file, but it seems that it's still not enough to eliminate the errors: instead of the timeout we now hav

[2021-12-21 23:00] andrewlee94 commented on #81
@bpaul4 @lbianchi-lbl Based on the comments above, I suspect I know what happened.

We added some intermediate `log_variables` to the generic properties framework since the last release which would explain the additional variables you are seeing. Consequently, if you are initializing by loading an old json file, these variables would not be getting good initial values which would likely explain th

[2021-12-21 23:35] bpaul4 commented on #81
I tested the notebook for 4 cases, and agree with your assessment @andrewlee94 . The test runs below I'm calling CI are the commands that the CI jobs run, while the build process is the test workflow recommended by our documentation. I noticed that the build.yml and build-ci.yml tests are not run the way or with the same timeout limit.

1) Load old initialization that used IPOPT 3.12, solve the or

[2021-12-21 23:56] lbianchi-lbl commented on #81
@bpaul4 that's great, thank you so much! If I understand correctly, case 3 is what I've been trying with the most recent commit on #82; if this is the case, then I can also confirm this behavior.

I'd say that the solution you're proposing sounds optimal, especially if you think this can be done quickly. If so, then please go ahead and add that fix to #80 (assuming the rest of the PR is ready to m

[2021-12-22 00:05] adowling2 commented on #81
This makes so much sense.

If there a clean way to check the number of Ipopt iterations on some of these notebooks? Perhaps add another type of test that runs nightly. The downside is this would need to get updated every time we update Ipopt, etc.

[2021-12-22 00:11] lbianchi-lbl commented on #81
@adowling2 I agree that exposing the solver information to the notebook testing pipeline would be a better way to detect this type of issues than relying on the total runtime. Does the object returned by `solver.solve()` store this information? Alternatively, is there already some utility function to parse the Ipopt output to a Python object and/or machine-readable format?

[2021-12-22 13:20] adowling2 commented on #81
@carldlaird @eslickj @jsiirola Here is a quick summary of this thread:
- Some of the thermodynamic models were updated with extra intermediate variables during the past 1 month (?).
- Some of the notebooks load saved initial points to keep the automated tests reasonable.
- The saved initial points did not include the new intermediate variables in the thermodynamic models. As a result, the notebook

[2021-12-22 13:32] carldlaird commented on #81
@adowling2

- There is a way to get the iterations from an Ipopt solve. I wrote a script to do this, and I think Dan added this to IDAES. Let's add @dangunter.
- If these initialization files are needed for the test, I think we should have a discussion about whether or not it makes sense to fail the test if some variables are missing. I suspect the json loader can give us this information. I reali

[2021-12-22 13:52] adowling2 commented on #81
@carldlaird +1 on your idea to check the json file (initial point) for missing variables.

[2021-12-22 23:03] lbianchi-lbl commented on #77
As mentioned in #83, I tried to build the notebook on two different Linux OSes:

- CentOS 8 (which is the same OS we have on our build system)
- Ubuntu 20.04 (newer version of Ubuntu, used in the GitHub Actions runners, where the notebook runs fine)

To reduce confounding factors I used two Docker containers running on the same hosts, starting from the respective default OS image, and with setup s

[2021-12-27 04:49] eslickj commented on #77
I just noticed this issue.  Since I’ve been testing solvers in multiple Linux distros for a while, I’d say this is a pretty common problem.  If the problem is badly scaled or somehow sort-of on the bubble, small differences in the system libraries may cause the problem not to solve on some random OS.  The usually solution is to improve scaling or problem formulation.  The bad solver status error o

[2021-12-27 14:30] adowling2 commented on #77
I suspect this is because there are slight differences in the numeric libraries across OS versions. Hypothesis: This goes unnoticed for most optimization problems, but becomes an issue with poor scaling. With poor scaling, the underlying linear systems are ill conditioned and slight differences in the linear solvers (and dependencies) causes big differences in the calculated steps.

[2022-01-04 15:58] jsiirola commented on #77
I believe that our builds of ipopt dynamically link against the system blas and lapack on linux, so I would tend to agree with @adowling2.

[2022-01-04 17:07] adowling2 commented on #77
Years ago, I would get different answers on Windows and Linux using the same version of GAMS. GAMS ships with all of the solvers compiled. I suspected slightly different versions of the libraries were being used and the problem was poorly scaled.

[2022-01-06 19:34] ksbeattie commented on #77
Closing this, because this particular notebook is working ok, but we will improve the CI so other notebooks, which might need to have this formulation improved will be found.

[2022-01-06 19:34] #77 closed

[2022-01-06 20:07] adowling2 opened #85 "Check solver statistics in tests"
The idea originates in the #81 discussion.

Specifically, we want to check the number of iterations.

Code from @andrewlee94:

[code]

[2022-01-06 20:09] adowling2 opened #86 "Check json initial points for unitialized variables"
The idea originates in the #81 discussion.

When the underlying IDAES model changes, the initial points saved as part of the examples become stale. This can cause unexpected long solve times which are challenging to track down the root cause.

[2022-01-06 20:10] adowling2 commented on #81
Moved two ideas to improve tested from this discussion to #85 and #86.

[2022-01-06 20:10] #81 closed

[2022-01-20 14:00] andrewlee94 opened #89 "More failures in example notebooks"
The recent merge of https://github.com/IDAES/idaes-pse/pull/627 has revealed additional issues with the HDS flowsheet example (Examples/Flowsheets/HDA_flowsheet_with_distillation_solution_testing.ipynb). It appears the reactor initialization step is/was failing and that it had not been noticed up until now - now that the CSTR initialization routine raises an `InitializationError` if the final solv

[2022-01-28 20:43] andrewlee94 commented on #89
@radhakrishnatg Have you have time to take a look at this yet? It is causing test failures in other PRs, plus our nightly builds.

[2022-01-31 00:23] radhakrishnatg commented on #89
@andrewlee94 Sorry for the delay! If I remember correctly, the CSTR initialization step was not failing earlier. I ran the notebook with the latest version, and still, the initialization does not fail. The output log shows

`2022-01-30 18:58:27 [INFO] idaes.init.fs.R101.control_volume: Initialization Complete
2022-01-30 18:58:27 [INFO] idaes.init.fs.R101: Initialization Complete: optimal - Optimal

[2022-01-31 14:11] andrewlee94 commented on #89
@radhakrishnatg I do not know why we are seeing this error now - the change in the PR mentioned only causes an exception to be raised if an initialization step fails, but it doesn't change the actual behaviour. This implies that the problem was there before the PR, but it was just being hidden.

The output from GitHub actions does not give any more information, so we would have to run the tests lo

[2022-01-31 14:25] radhakrishnatg commented on #89
Thanks, Andrew! I'm currently using a windows system. That may be why I did not get the error. But if the error is OS dependent, what changes can I make to the notebook to avoid it?

[2022-01-31 14:31] andrewlee94 commented on #89
@radhakrishnatg OS specific errors generally indicate that the problem is very poorly scaled - to the point that minor differences in the linear algebra packages from different OSes start to matter.

[2022-01-31 14:41] andrewlee94 commented on #89
Here is the output I see when I run the notebook locally (on Linux):

[code]

[2022-01-31 19:29] radhakrishnatg commented on #89
Thanks @andrewlee94 for sending me this. I will work on the initialization part. Since I do not have a linux machine, could you please tell me what the best is to test whether the changes I'm going to make are addressing the issue or not?

[2022-01-31 19:36] andrewlee94 commented on #89
The best test is to have someone with ha Linux machine look at the issue. Failing that, you can try to scale the problem better, push the results to GitHub and see if the automated tests fail, but that is slow as you can't test the file by itself.

[2022-01-31 21:51] lbianchi-lbl commented on #89
One possible alternative for quick debugging is using an online platform capable of running Jupyter notebooks in the cloud, e.g. Binder.

If you click on this link (and possibly wait a bit for the cloud environment to be created), you should be able to access a temporary, short-lived instance of JupyterLab with the `FHDA_flowsheet_with_distillation` notebook already displayed: https://mybinder.org

[2022-02-01 14:23] radhakrishnatg commented on #89
Thank you, @andrewlee94 and @lbianchi-lbl This option is really great! However, when I run the notebook I'm seeing the following error `ApplicationError: Solver (ipopt) did not exit normally`. Could you please tell me how I can fix this?

[2022-02-01 14:33] andrewlee94 commented on #89
@radhakrishnatg We would need more information to help with that - you sometimes see that message if IPOPT fails during restoration, but there are other reasons that could occur.

[2022-02-01 15:30] radhakrishnatg commented on #89
@andrewlee94 Here is the full error message:
[code]

[2022-02-01 15:38] andrewlee94 commented on #89
@radhakrishnatg Is there any other output (e.g. solver logs)? The traceback doesn't tell us much, only that IPOPT failed during the SM initialization. You might need to increase the outlvl of the initializations.

[2022-02-01 15:41] radhakrishnatg commented on #89
@andrewlee94 No, this is the entire message. It did not print any solver log. But note that there was no issue in initializing the `H101` unit's control volume.

[2022-02-01 15:45] radhakrishnatg commented on #89
I changed the `outlvl` option to `idaeslog.DEBUG`. Not sure if this is helpful, but this is what I got:
[code]

[2022-02-01 15:48] andrewlee94 commented on #89
There is your answer: `/home/jovyan/.idaes/bin/ipopt: error while loading shared libraries: libgfortran.so.4: cannot open shared object file: No such file or directory`

The all too common issue with `libgfortran` versions. @lbianchi-lbl might have a way to fix this in the environment you are using.

[2022-02-01 18:13] eslickj commented on #89
@radhakrishnatg You should be able to just follow the Linux install instructions.  If you have the right version of the IDAES libraries the instructions tell you how to install the dependencies. Since this look like libfortran 4, I assume this is the line for you

[code]

[2022-02-01 18:19] eslickj commented on #89
I've been looking at this and I've identified a few issues.

1) The initialization solves go into restoration a lot even if they do eventually succeed.
2) You aren't using scaling
3) If you calculate scaling factors you get this warning ``2022-02-01 13:15:54 [WARNING] idaes.core.util.scaling: Trying to get scaling factor for unnamed expr``, which means you property package is probably out of date.

[2022-02-01 20:43] radhakrishnatg commented on #89
Thank you @eslickj ! This is helpful! I will work on fixing these issues.

[2022-02-01 20:53] radhakrishnatg commented on #89
In general, is there a way to determine whether the model is properly scaled or not? If not, what variables, constraints, and/or expressions need to be scaled?
Also, I work on windows, and I never ran into these issues before. These issues are appearing only in the case of Linux. Is there a way to detect these issues while working on Windows?

[2022-02-01 20:57] andrewlee94 commented on #89
@radhakrishnatg

1. There are some tools for identifying poorly scaled variables and constraints, but as a general rule you should scale every constraint in the model (or at least confirm that it is already well scaled).
2. The reason you haven't had issues before is more luck than design. Whilst there are differences between Windows and Linux they are small enough that they are generally not an i

[2022-02-01 23:22] lbianchi-lbl commented on #89
@radhakrishnatg I've created a branch with some additional configuration files which should take care of the missing `libgfortran` & friends. You should be able to access it at this URL: https://mybinder.org/v2/gh/lbianchi-lbl/examples-pse/binder-89?labpath=src%2FExamples%2FFlowsheets%2FHDA_flowsheet_with_distillation_solution_testing.ipynb.

When trying to run the notebook with "Kernel > Restart

[2022-02-03 16:22] andrewlee94 commented on #89
@radhakrishnatg Before you go too far, there area few things to remember.

1. Most critically, we currently have failing tests because of this issue - before we go off making any major changes we need to get something working so that tests start passing again. For now, you should focus on just getting the existing model to solve, even with its issues.
2. There is nothing wrong with a custom proper

[2022-02-03 16:26] radhakrishnatg commented on #89
Thanks, @andrewlee94 Then, I will just try rescaling a few equations and variables to see if it resolves the issue.

[2022-02-03 17:42] eslickj commented on #89
@andrewlee94 and @radhakrishnatg, there is no major issue with the property package.  The only thing is that it hasn't been updated to used named expressions for the terms it provides for the mass and energy balances.   I guess there should be example in idaes-pse of how to do that.  Until you have that it's likely the mass and energy balances will not be well scaled.  So I'm only suggesting a fai

[2022-02-03 18:12] radhakrishnatg commented on #89
Thank you, @eslickj Could you please point me to the example you were referring to? That would give me a better idea of what I need to do.

[2022-02-03 18:37] eslickj commented on #89
@radhakrishnatg https://github.com/IDAES/idaes-pse/blob/29f7354e84f96f747c94cd0182702397023fc1b9/idaes/generic_models/properties/cubic_eos/cubic_prop_pack.py#L945.

The HDA properties here should have a similar get_* functions.  Just return named expressions and you will be able to assign scale factors based on their expected magnitudes.

[2022-02-07 19:32] #89 closed

[2022-02-14 19:12] eslickj opened #96 "Several examples tests failing"
There are some examples test failing.  I'm having a hard time sorting out what's failing and how, but I suspect it may have something to do with the doc reorg or updating the Pyomo version.  Not sure who to assign this too, so we can try to update that later.

From doc build:

[code]

[code]

[code]

[code]

[code]

[2022-02-14 20:32] lbianchi-lbl commented on #96
I'm looking into the failing jobs, and it seems that there are a few issues but nothing that strikes me as an obvious cause:

- Dependencies: comparing the same job combination (OS/Python version) for failing and passing runs, the output of `conda list` looks almost identical, and nothing that could point to an update to one of the dependencies breaking things
- Pyomo version: this is being update

[2022-02-14 22:35] lbianchi-lbl commented on #96
@andrewlee94 I agree, I don't have a clue what it could be. The remaining one, #707, could in principle result in changes to the Jupyter notebook infrastructure, but (a) it only applies to Windows (while failing jobs occur on both Linux and Windows), and (b) even then, I don't see how it could be related to the initialization error. Let's see if the brute force debugging in #97 can shed some light

[2022-02-15 20:45] eslickj commented on #96
708 should technically not have changed anything, but it changed the way an expression was written.  If a problem is that delicate, it was borderline broken already.  I don't really understand how the examples tests work.  Don't they run on the idase-pse PRs?

[2022-02-15 21:10] lbianchi-lbl commented on #96
@eslickj Do you mean IDAES/idaes-pse#704? IDAES/idaes-pse#708 only changed test files, so that wouldn't have any influence on this repo.

As part of the extended/integration CI checks, a subset of the examples are run. This is defined within the `idaes-pse` repository, rather than using the default configuration in `examples-pse`: this is a conscious choice to reduce the influence of "hidden state

[2022-02-15 21:27] andrewlee94 commented on #96
@lbianchi-lbl @eslickj Well, in some ways it does not surprise me that that commit is what broke everything, even though it really should not. As John said: " If a problem is that delicate, it was borderline broken already".

We really need someone to get in there and fix those up properly - I am fairly certain they do not use the scaling tools. I think someone was already working on one of them f

[2022-02-15 21:42] lbianchi-lbl commented on #96
@andrewlee94 From a quick search, the latest issues about these notebooks are #81 for `Hydrocarbon_Processing_example`, and #77 and #89 for `air_separation_case_study`. I definitely agree that we should make it a priority to fix these issues once and for all, as the firefighting due to these reoccurring errors ends up being a huge time sink.

[2022-02-15 21:46] andrewlee94 commented on #96
Ah, #89 was the one I was thinking of and it was related to a different model (the HDA case study). Hopefully the same approach that was applied there can fix these issues (once and for all).

[2022-02-15 21:53] lbianchi-lbl commented on #96
@andrewlee94 ah, I see, I mistakenly thought that #89 was about `air_separation_case_study` when it was actually about `HDA_flowsheet_with_distillation`, a different notebook altogether.

If I understand correctly what you're saying, this is (or could be) good news, since it means that the fix for `HDA_flowsheet_with_distillation` did work to address the problem (at least for this particular set o

[2022-02-15 21:54] andrewlee94 commented on #96
@lbianchi-lbl I hope so at least - my most likely guess for the cause of failure here is poor scaling, which is the same problem the HDA Flowsheet had.

[2022-02-15 22:00] eslickj commented on #96
@lbianchi-lbl, the change in 708 was this...

Originally we had a function that was root(eos_type, A, B).  That found a real root of a cubic equation.  708 results in the same thing but looks like this root(b(eos_type, A, B), c(eos_type, A, B), d(eos_type, A, B)) where b, c, d are just Pyomo expressions.  The resulting expression should be functionally the same.  I just moved a piece of the calcul

[2022-02-15 22:39] bpaul4 commented on #96
@lbianchi-lbl Scaling helped improve #81 but regenerating the initialization files greatly reduced the runtime and ultimately resolved the issue. The main obstacle is that it takes about an hour to regenerate the initialization file, so it is difficult to build a check into the CI client and potentially regenerate the file many times on multiple PRs that time out.

In response to @eslickj , small

[2022-02-15 23:07] lbianchi-lbl commented on #96
@eslickj @bpaul4 I see, thanks for the clarifications. I'm wondering, how often do the initialization files need to be regenerated to provide this kind of runtime improvements? Or, in other words, what type of changes (e.g. to the model itself, IPOPT version, ...) require an initialization file to be regenerated? If regenerating the initialization files before each run is not necessary, we could t

[2022-02-15 23:22] eslickj commented on #96
The initialization files really need to be regenerated anytime anything changes.  I know that doesn't really nail it down very well.  Especially for ill-conditioned problems the solution may be sensitive to very small changes.  A change could be as small as a new version some library like blas or lapack.  A solver version or build change could do it.  I'd hope that that sort of change would be too

[2022-02-15 23:51] lbianchi-lbl commented on #96
Hmm, I see. I mean, one fairly straightforward way to solve this would be to regenerate the initialization files daily, e.g. before the nightly checks, save the files as a workflow run artifact with GitHub Actions, and fetch that version when running the examples. As I understand, users can always recreate the initialization files by themselves (it just takes a while to run) if the daily built fil

[2022-02-16 14:05] andrewlee94 commented on #96
In regards to regenerating the JSON initialization files, we should add functionality to the load from JSON function that will check that all variables were initialized that we can then use in our notebook testing to identify these issues. That however is a separate issue for now - our immediate concern is to get the notebooks fixed for the release.

[2022-02-16 15:53] bpaul4 commented on #96
I pulled the latest IDAES:main and EXAMPLES-PSE:main to my local Windows machine (Python 3.7) and `pytest --verbose -m 'not unit' tests/` did not show any runtime errors. I opened and ran `air_separation_case_study.ipynb` on my machine as well and did not encounter any initialization errors. Since last night's test run did show these errors for several environments, I'll have to create a PR to tes

[2022-02-16 18:51] bpaul4 commented on #96
The HC notebook with scaling factors changed to `1E0` ran through the initialization for more than two hours, and then ultimately failed on the Flash unit (it only took 20 minutes to initialize everything pre-Flash, the rest was this unit). The notebook with scaling failed even earlier (on the Reactor unit), and based on this message I'm suspecting that the property packages may be decreasing the

[2022-02-17 15:52] Robbybp opened #99 "Broken link in README"
In the readme:

https://github.com/IDAES/examples-pse/blob/main/README.md?plain=1

The following section contains a broken link:

[code]

The link is:

https://idaes-pse.readthedocs.io/en/stable/install/index.html

[2022-02-17 17:11] bpaul4 commented on #96
The HC notebook is having difficulty re-initializing the Flash unit, and fails in restoration while solving the outlet control volume properties. I updated the scaling on both the AS and HC notebooks and pushed them to the PR referenced above to test the CI jobs, keeping the old HC init file for now since the notebook fails to generate a new one.

[2022-02-17 17:24] lbianchi-lbl commented on #96
@bpaul4 thanks a lot for looking into that. I'm aware I'm not much use when dealing with this type of domain-specific issues, but let me know if there's anything I can do to help on the software/CI side of things.

[2022-02-24 19:47] jsiirola opened #103 "Update Examples to track IDAES deprecation warnings"
While putting together #102, I ran across a ton of deprecation warnings in the example, e.g.:
[code]
and
[code]

We should revisit the examples and update them to track the current recommended API.

We should also consider updating the examples tests to fail on (unexpected) warnings.

[2022-02-24 20:05] eslickj commented on #103
Which model is this?  Is it imported from idaes-pse or all in the example?

[2022-02-24 20:46] jsiirola commented on #103
The example is `src/Examples/Advanced/DataRecon/econ_parmest_testing.ipynb`, importing
[code]

[2022-02-24 20:58] eslickj commented on #103
Ok, so it's the notebook that needs to be updated.  I assume you are working on this now, so I need to wait to update it.

[2022-02-28 21:49] bpaul4 commented on #103
When debugging notebooks and writing new examples, I encounter many deprecation warnings concerning missing scaling factors or not specifying an equation form for Perry's liquid density methods. The second one is from one of my PR's to add a second equation form and default to the first/original equation form is no flag is provided. @andrewlee94 would it be best to update our examples so these war

[2022-02-28 22:04] andrewlee94 commented on #103
@bpaul4 Yes, we should be fixing these deprecation warnings and it would be good to have a check for them. This will be especially important over the next few months as we begin the transition to IDAES v2.0.

[2022-03-01 01:42] eslickj commented on #103
The scaling factors aren't deprecation warnings.  Just warnings.  By popular request, I'm planning to add an option to silence the scaling warnings.

[2022-03-01 14:03] andrewlee94 commented on #103
As John noted those the scaling factor messages are warning, but the correct path here is to fix these rather than silence them - we need to show users how to use the scaling tools and this is the prefect opportunity.

[2022-03-02 16:48] dangunter opened #104 "Refactor "framework" for building docs to use standalone notebook metadata"
example first cell in notebook:
[code]

[2022-03-15 22:53] lbianchi-lbl commented on #99
I've just pushed this change directly to `main` that fixes the broken link (once the new documentation structure becomes available under `stable`, i.e. as soon as the 1.13.0 tag is created).

[2022-03-15 22:53] #99 closed

[2022-03-29 15:49] lbianchi-lbl opened #109 "Update examples toward IDAES v2"
We can use this issue to keep track of the modifications that we'll need to apply to the examples to track the various changes introduced toward IDAES v2, updating it appropriately when a new `IDAES v2` PR is created.

Example structure (the content is likely wrong):

- [ ] IDAES/idaes-pse#773
  - [ ] Update import paths in `boiler_flowsheet_recon.ipynb`

[2022-03-31 18:50] #11 closed

[2022-03-31 18:52] #29 closed

[2022-04-21 18:32] andrewlee94 commented on #96
Closing this ,as no-one can remember what he actual issue was.

[2022-04-21 18:32] #96 closed

[2022-05-13 14:04] lbianchi-lbl opened #116 "Build script exits with 0 code despite notebook errors in certain cases"
## Description

![image](https://user-images.githubusercontent.com/48035537/168298872-4a0118ab-23fe-43f2-b36f-01b9c92a26a0.png)

- This was observed in IDAES/idaes-pse#853, where the `Run examples` check seemed to fail on Linux runners and pass on Windows runners
- This was unexpected for that particular PR, since the errors were `ModuleNotFoundError` that should occur regardless of the platform
-

[2022-07-05 13:59] dangunter opened #120 "Create IDAES visualizer tutorial"
The IDAES visualizer needs a tutorial notebook that can walk through the current functions with some embedded explanation.

Related to [Update IDAES visualizer docs](https://github.com/IDAES/idaes-pse/issues/904) issue in idaes-pse

[2022-07-05 15:10] lbianchi-lbl opened #122 "DMF example(s) fail with NameError: name 'dmf_params' is not defined"
See e.g. https://github.com/IDAES/idaes-pse/runs/7198611013?check_suite_focus=true

[code]

Looking at recent commits, it seems eb4d22db might be related with this error; more specifically, moving the definition of `dmf_params` to a cell having the `testing` and/or `remove_cell` tags, which causes it to be undefined when the cell is removed during certain modes of programmatic execution such as th

[2022-08-06 02:51] eslickj commented on #103
PR https://github.com/IDAES/idaes-pse/pull/822 can turn deprecation warnings into exceptions, which can help track down the exact location of deprecation warnings being generated, and help us make sure we get them all.

[2022-08-18 18:21] lbianchi-lbl opened #126 "Enable site-packages installation to allow sharing Python modules with common functionality"
Needed by #124 (more details to follow...).

[2022-08-18 19:56] #120 closed

[2022-09-01 18:41] ksbeattie commented on #86
@adowling2 This didn't make it for the Aug release, so I'm not moving this to the Nov release and adding it to the backlog label.

[2022-09-15 18:51] ksbeattie commented on #109
Closing this as there are other issues tracking this

[2022-09-15 18:51] #109 closed

[2022-09-22 18:54] dangunter opened #143 "Test whether example notebooks work in Binder"
If we can get the example Jupyter notebooks to work in Binder then they can pretty easily be run online without installing IDAES

[2022-09-26 16:44] bpaul4 opened #147 "Concurrency workflow to cancel redundant jobs"
Unlike the idaes-pse repository, the examples-pse repository will run concurrent jobs that do not need to be run. There should be a block such as in the [idaes-pse integration workflow file](https://github.com/IDAES/idaes-pse/blob/c7720427818a0907e83777d7e4610f8bf003d418/.github/workflows/integration.yml#L27) to prevent re-runs from doubling up jobs.

[2022-09-27 20:10] dangunter opened #148 "Released examples 2.0.0a3 do not work with IDAES main"
The most recent released examples are not up to date with changes in IDAES 2.0.0a3 and therefore have incorrect imports (e.g. `generic_models` instead of `models`) and arguments (use of `default=`). This is based only on looking at the HDA flowsheet in Tutorials/Basics, but it probably holds true for other examples as well. The code in main seems correct.

[2022-10-03 17:55] lbianchi-lbl opened #150 "CI failures caused by ngcc_soec notebook"
## Long runtimes

![image](https://user-images.githubusercontent.com/48035537/193645511-0d060081-6637-43d7-a7e4-54a59b7c0928.png)

## Solver failures

![image](https://user-images.githubusercontent.com/48035537/193658433-741da48b-eb71-4b0d-8f71-5ab6f7c6d285.png)

[2022-10-06 14:34] eslickj commented on #150
Sorry, just noticed this issue.  Is it new?  I can take a look, but would it be better to just wait for the new costing framework?  Since this example saves time by loading saved model states, sometimes changes to core models will break things like this and it helps to delete the saved states and rebuild them.

[2022-10-06 18:30] #147 closed

[2022-10-13 18:31] ksbeattie commented on #148
Because we're in the midst of a v1 -> v2 transition, this is not unexpected.  Can you describe how you came across this?

[2022-10-13 18:44] andrewlee94 commented on #103
I think we should have fixed all the deprecations that were being raised, so now it should just be a matter of adding a test to warn us when new deprecations appear.

[2022-10-27 19:24] #150 closed

[2022-10-31 20:46] bpaul4 opened #155 "Improving Power Plant Examples For CI Runs"
- [x] The example notebook `src/Examples/Flowsheets/power_generation/ngcc/ngcc_soec.ipynb` exhibits stable solver behavior due to recent improvements. However, the runtime hovers around 600 seconds resulting in intermittent timeout failures on some CI runs. This issue is resolved in #157 (replaced by #158).

- [x] Similarly, the example notebook `src/Examples/Flowsheets/power_generation/rsofc/rsof

[2022-11-07 15:22] lbianchi-lbl opened #156 "Multiple failures in CI runs"
- Failures in the `power_generation` examples due to missing `mol_frac_comp` (e.g. [here](https://github.com/IDAES/examples-pse/actions/runs/3407716392/jobs/5667623694#step:9:682)), probably related to IDAES/idaes-pse#1000 and fixed by IDAES/idaes-pse#1010
- Python 3.7 on Linux times out after 6h; it's not clear whether the notebooks are being run at all, or it's hanging somewhere
  ![image](https

[2022-11-18 14:04] bpaul4 commented on #155
Closing as complete.

[2022-11-18 14:04] #155 closed

[2022-11-28 20:03] #156 closed